In [14]:
import tabula
from tabula.io import read_pdf
from tabulate import tabulate
import json
import pandas as pd
import numpy as np
import os
import re
import datetime

#url = "https://www.statsbots.org.bw/sites/default/files/publications/Transport%20%26%20Infrastructure%20Statistics%20Report%202021.pdf"

# We are going to extract from the above pdf

# Read pdf into list of DataFrame
pdf = tabula.io.read_pdf("C://Users//Administrator//Documents//Transport_Infrastructure_Statistics_Report_2021.pdf", pages='all')

In [15]:
pdf[0]

Empty DataFrame
Columns: [Private Bag 0024, Gaborone
Private Bag F193,
Private Bag 32Private Bag 47
Tel: 3671300 Fax: 3952201
Francistown
GhanziMaun
Toll Free: 0800 600 200
Tel: 241 5848  Fax: 241 7540
Tel: 371 5723 Fax: 659 7506Tel: 371 5716 Fax: 686 4327
E-mail: info@statsbots.org.bw Website: http://www.statsbots.org.bw]
Index: []

In [17]:
pdf[2]

,Table,"1.1a: Total Length of Roads in Botswana (km) , 2017 - 2021",Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Year,Bitumen,Gravel,Sand/\rTrack,Earth,Interlocking\rBricks,Concrete,Total
1,2017,"9,795.7","11,014.2","5,262.5","5,574.9",93.0,6.0,"31,746.2"
2,2018,"9,795.7","11,014.2","5,262.5","5,574.9",108.2,6.0,"31,761.4"
3,2019,"5,463.4","5,302.4","11,044.6","10,065.2",233.0,6.1,"32,114.7"
4,2020,"10,391.6","10,837.0","5,445.9","5,605.4",276.6,6.4,"32,562.8"
5,2021,"10,520.6","10,709.5","5,445.9","5,605.4",276.6,6.4,"32,564.3"
6,Source,"Department of Roads, Ministry of Transport and...",NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
pdf[1]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
pdf[4]

   Statistics Report 2021
0                     NaN

In [20]:
pdf[5]

   Statistics Report 2021
0                     NaN

In [21]:
pdf[6]

   Statistics Report 2021
0                     NaN

In [22]:
# If we want to know the number of pages, we 
# can use the len() function
len(pdf)

58

In [24]:
pdf[57]

,Francistown District:,Maun District:,Serowe District:,Gantsi District:
0,"Francistown,\rMatsiloje, Tati Town, Tonota,\rT...","Gweta, Maun, Sehithwa,\rseronga, Shakawe,\rGumare","Machaneng,\rMahalapye, Martin’s\rDrift, Palapy...","Gantsi, Kalkfontein,\rMamuno, Ncojane"
1,Broadhurst District:,Kasane District:,Lobatse District:,Letlhakane District:
2,"Broadhurst, Central, Urban,\rTlokweng,\rBoraka...","Kasane, Kavimba, Kasane\rAirport, Pandamatenga","Jwaneng, Lobatse,\rRamatlabama,\rWoodhall, Goo...","Dukwi, Letlhakane,\rOrapa, Rakops,\rSowa Town"
3,Tsabong District:,Selebi Phikwe:,Molepolole District:,Mochudi District:
4,"Bokspits, Kang, Mabutsane,\rTsabong, Tshane, W...","Baines Drift, Bobonong,\rBotshabelo,\rSelebi P...","Letlhakeng,\rMolepolole, Thamaga,\rTakatokwane","Dibete, Mochudi,\rOlifant’s Drift,\rSikwane"
5,Gaborone West:,Sejelo District:,NaN,NaN
6,"Gaborone West,\rNaledi, Ramotswa,\rSir Seretse...","Kanye, Sejelo, Jwaneng,\rMoshupa, Phitshane\rM...",NaN,NaN

In [25]:
pdf[56]

,Passengers,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Air,"760,512","783,655","755,721","720,906","764,146","806,959","859,947","912,777","213,681","315,561"
1,International,"398,557","406,438","413,425","412,705","439,103","473,876","500,997","527,083","104,348","154,536"
2,Domestic,"361,955","377,217","342,296","308,201","325,043","333,083","358,950","370,659","109,333","239,710"
3,Rail,..,..,..,..,"109,272","134,702","232,160","246,192",..,..
4,Pontoon,..,"438,416","448,557","476,740","502,759","484,023","569,410",..,"156,802",..
5,Arrivals,..,"217,452","221,546","234,532","250,042","255,115","287,851",..,"75,018",..
6,Departures,NaN,"220,964","227,011","242,208","252,717","228,908","281,559",..,"81,784",..

In [26]:
pdf[55]

,Unnamed: 0,Unnamed: 1,Imports,Unnamed: 2,Exports,Unnamed: 3,Unnamed: 4,Unnamed: 5,Total,Unnamed: 6,Unnamed: 7
0,NaN,From,From Total,To,To,Total,Local,Botswana,Botswana,Transit,Total
1,Year/Quarter,North,South Imports,North,South,Exports,Traffic,Origin,Total,Traffic,Traffic
2,2012,"3,939","115,705 119,644","15,859","102,133","117,992","47,117","165,172","284,816","8,320","293,136"
3,2013,"2,460","117,333 119,793","17,822","106,419","124,241","47,312","171,554","291,346","21,641","312,987"
4,2014,"1,724","110,850 112,574","18,747","118,164","136,911","45,220","182,131","294,705","23,456","318,161"
5,2015,"7,863","127,385 135,248","13,115","132,745","145,860","58,825","204,685","339,933","16,332","356,265"
6,2016,"4,843","107,712 112,555","8,312","124,215","132,527","48,534","181,061","293,616","29,403","323,019"
7,2017,"2,922","78,420 81,342","12,060","126,918","138,978","44,573","183,551","264,893","23,822","288,715"
8,2018,"2,563","97,635 100,198","13,121","132,754","145,875","44,246","190,121","290,319","15,453","305,772"
9,2019,"1,921","80,325 82,246","9,335","105,647","114,982","38,383","153,365","235,611","11,083","246,694"
10,2020,"6,235","68,590 74,825","10,199","90,994","101,193","35,523","136,716","211,541","31,965","243,506"
11,2021,"4,762","37,814 42,576","11,560","81,807","93,367","38,975","132,342","174,918","29,545","204,463"
12,2020 Jan,61,"4,695 4,756",892,"7,182","8,074","2,406","10,480","15,236","1,446","16,682"
13,Feb,-,"5,321 5,321",381,"6,761","7,142","2,615","9,757","15,078","3,018","18,096"
14,Mar,642,"4,736 5,378",521,"8,221","8,742","3,433","12,175","17,553","6,176","23,729"
15,April,-,"2,917 2,917",892,"5,276","6,168","3,774","9,942","12,859","2,684","15,543"
16,May,142,"4,308 4,450","1,157","7,679","8,836","3,217","12,053","16,503","3,551","20,054"
17,June,"1,351","5,319 6,670",996,"6,904","7,900","3,114","11,014","17,684","2,120","19,804"
18,July,"1,561","7,248 8,809",581,"8,446","9,027","3,170","12,197","21,006","2,167","23,173"
19,Aug,"1,289","8,537 9,826",892,"8,229","9,121","2,249","11,370","21,196","2,148","23,344"
20,Sep,231,"6,886 7,117","1,175","7,441","8,616","3,553","12,169","19,286",950,"20,236"
21,Oct,495,"7,378 7,873","1,289","8,664","9,953","2,557","12,510","20,383","1,648","22,031"
22,Nov,389,"6,178 6,567",789,"8,818","9,607","3,167","12,774","19,341","2,805","22,146"
23,Dec,74,"5,067 5,141",634,"7,373","8,007","2,268","10,275","15,416","3,252","18,668"
24,2021 Jan,-,"3,566 3,566","1,119","6,532","7,651","2,919","10,570","14,136","2,505","16,641"
25,Feb,878,"4,235 5,113",512,"5,887","6,399","2,767","9,166","14,279","3,529","17,808"
26,Mar,945,"3,789 4,734",872,"7,362","8,234","3,777","12,011","16,745","4,087","20,832"
27,Apr,32,"3,345 3,377",759,"5,569","6,328","3,410","9,738","13,115","4,929","18,044"
28,May,-,"3,217 3,217","1,336","6,977","8,313","3,520","11,833","15,050","2,644","17,694"
29,June,249,"3,377 3,626",635,"6,459","7,094","3,776","10,870","14,496","3,158","17,654"
30,July,390,"2,115 2,505","1,054","9,852","10,906","3,852","14,758","17,263","2,634","19,897"
31,Aug,"1,260","3,066 4,326","1,196","6,133","7,329","3,618","10,947","15,273","1,524","16,797"
32,Sept,499,"3,278 3,777","1,185","7,320","8,505","3,041","11,546","15,323","1,873","17,196"
33,Oct,466,"2,994 3,460","1,111","4,389","5,500","2,990","8,490","11,950","1,527","13,477"
34,Transport & InfrasNtoruvcture Sta 4t3is tics R...,NaN,"3,372",924,"8,776","9,700","3,382","13,082","16,454","1,015","17,469"
35,"10,95449.Dec",-,"1,503 1,503",857,"6,551","7,408","1,923","9,331","10,834",120,NaN

In [27]:
pdf[54]

,Unnamed: 0,Unnamed: 1,Imports,Unnamed: 2,Unnamed: 3,Exports,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Year/,From,From,Total,NaN,NaN,Total,Local,Botswana,Botswana,Transit,Total
1,Quarter,North,South,Imports,To North,To South,Exports,Traffic,Origin,Total,Traffic,Traffic
2,2012,"53,753","960,040","1,013,793","106,189","456,579","562,768","345,451","908,219","1,922,012","62,884","1,984,896"
3,2013,"28,060","840,037","868,097","107,763","490,021","597,785","310,277","908,061","1,776,158","107,000","1,883,158"
4,2014,"14,905","723,487","738,393","109,010","588,897","697,907","277,507","975,414","1,713,807","126,006","1,844,808"
5,2015,"46,325","796,248","842,574","70,316","667,566","737,882","341,549","1,079,431","1,922,005","85,000","2,007,005"
6,2016,"12,924","702,184","715,108","53,544","608,071","661,615","265,379","926,994","1,642,102","415,300","2,057,402"
7,2017,"16,431","542,934","559,365","67,330","593,501","660,831","210,223","871,054","1,430,419","112,000","1,542,419"
8,2018,"12,239","621,048","633,287","70,879","586,063","656,942","203,890","860,832","1,494,119","55,163","1,549,282"
9,2019,"7,496","470,209","477,705","50,128","459,309","509,437","180,814","690,251","1,167,956","52,540","1,220,496"
10,2020,"30,317","393,679","423,996","53,064","419,166","472,230","167,359","639,589","1,063,585","141,396","1,204,981"
11,2021,"21,067","286,130","307,197","59,139","366,389","425,528","192,183","617,711","924,908","129,210","1,054,118"
12,2020 Jan,261,"28,837","29,098","4,777","31,501","36,278","11,373","47,651","76,749","8,712","85,461"
13,Feb,"1,268","38,427","39,695","2,038","29,374","31,412","12,514","43,926","83,621","7,864","91,485"
14,Mar,"2,841","32,965","35,806","2,743","35,942","38,685","16,834","55,519","91,325","27,000","118,325"
15,Apr,-,"17,478","17,478","4,521","19,012","23,533","17,710","41,243","58,721","11,912","70,633"
16,May,609,"23,038","23,647","5,950","32,966","38,916","15,926","54,842","78,489","16,904","95,393"
17,June,"6,542","35,133","41,675","5,120","31,779","36,899","15,094","51,993","93,668","10,057","103,725"
18,July,"7,976","39,431","47,407","2,972","43,203","46,175","13,988","60,163","107,570","10,283","117,853"
19,Aug,"4,381","39,181","43,562","4,910","40,978","45,888","10,482","56,370","99,932","4,216","104,148"
20,Sept,959,"37,666","38,625","6,098","35,504","41,602","15,684","57,286","95,911","9,535","105,446"
21,Oct,"2,807","40,934","43,741","6,617","40,757","47,374","11,941","59,315","103,056","7,356","110,412"
22,Nov,"2,367","31,639","34,006","4,055","42,557","46,612","15,163","61,775","95,781","12,710","108,491"
23,Dec,306,"28,950","29,256","3,263","35,593","38,856","10,650","49,506","78,762","14,847","93,609"
24,2021 Jan,-,"20,673","20,673","5,668","28,238","33,906","14,125","48,031","68,704","11,482","80,186"
25,Feb,"4,729","26,662","31,391","2,654","28,568","31,222","13,199","44,421","75,812","16,081","91,893"
26,Mar,"4,977","26,051","31,028","4,515","33,430","37,945","18,269","56,214","87,242","16,933","104,175"
27,Apr,150,"27,529","27,679","3,887","26,844","30,731","16,514","47,245","74,924","21,507","96,431"
28,May,-,"22,267","22,267","6,807","28,188","34,995","16,919","51,914","74,181","11,899","86,080"
29,June,"1,005","24,494","25,499","3,213","31,293","34,506","18,099","52,605","78,104","12,443","90,547"
30,July,"1,573","14,083","15,656","5,401","42,006","47,407","18,639","66,046","81,702","12,040","93,742"
31,Aug,"4,566","29,337","33,903","6,096","28,786","34,882","21,990","56,872","90,775","6,763","97,538"
32,Sept,"2,013","26,232","28,245","6,051","31,285","37,336","14,703","52,039","80,284","8,304","88,588"
33,Oct,"1,880","29,638","31,518","5,709","19,735","25,444","14,438","39,882","71,400","6,750","78,150"
34,Nov,174,"25,697","25,871","4,755","39,050","43,805","16,341","60,146","86,017","4,490","90,507"
35,Dec,-,"13,467","13,467","4,383","28,966","33,349","8,947","42,296","55,763",518,"56,281"

In [29]:
# save them in a folder
folder_name = "tables"
if not os.path.isdir(folder_name):
    os.mkdir(folder_name)
# iterate over extracted tables and export as csv individually
for i, table in enumerate(pdf, start=1):
    table.to_excel(os.path.join(folder_name, f"table_{i}.xlsx"), index=False)

In [31]:
# Convert the output to one csv
# We will use the glob library to get all the files in the folder
import glob
import os
# Set the path
path = r'C://Users//Administrator//Botswana-chapter-traffic-accidents//tables'

# Use glob to match the pattern ‘csv’
# and save the list of file names in the ‘all_filenames’ variable.
all_filenames = [i for i in glob.glob(path + "/*.xlsx")]
# Loop over the list of file names
# and read them into pandas
li = []
for filename in all_filenames:
    df = pd.read_excel(filename, index_col=None, header=0)
    li.append(df)

# Concatenate all data into one DataFrame
frame = pd.concat(li, axis=0, ignore_index=True)
# Save the DataFrame to csv
frame.to_csv('C://Users//Administrator//Documents//tables//combined_csv.csv', index=False, encoding='utf-8-sig')

In [33]:
# Read the csv
df = pd.read_csv('C://Users//Administrator//Documents//tables//combined_csv.csv')
df.tail()

,"Private Bag 0024, Gaborone\nPrivate Bag F193,\nPrivate Bag 32Private Bag 47\nTel: 3671300 Fax: 3952201\nFrancistown\nGhanziMaun\nToll Free: 0800 600 200\nTel: 241 5848 Fax: 241 7540\nTel: 371 5723 Fax: 659 7506Tel: 371 5716 Fax: 686 4327\nE-mail: info@statsbots.org.bw Website: http://www.statsbots.org.bw",Statistics Report 2021,Trea Sbtlaeti s1ti.c1sb,"e pLoertn 2g0t2h1 of Roads (km) Maintained by the\nCentral Government by Type (km), 2012-2021",Unnamed: 0,Unnamed: 1,Unnamed: 2,Table 1.1c: Len,"th of Roads (Km) Maintained by Local Authorities by District and Type, 2021",Unnamed: 3,...,2016,2017,2018,2019,2020,2021,Francistown District:,Maun District:,Serowe District:,Gantsi District:
1390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"Broadhurst, Central, Urban,\nTlokweng,\nBoraka...","Kasane, Kavimba, Kasane\nAirport, Pandamatenga","Jwaneng, Lobatse,\nRamatlabama,\nWoodhall, Goo...","Dukwi, Letlhakane,\nOrapa, Rakops,\nSowa Town"
1391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Tsabong District:,Selebi Phikwe:,Molepolole District:,Mochudi District:
1392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"Bokspits, Kang, Mabutsane,\nTsabong, Tshane, W...","Baines Drift, Bobonong,\nBotshabelo,\nSelebi P...","Letlhakeng,\nMolepolole, Thamaga,\nTakatokwane","Dibete, Mochudi,\nOlifant’s Drift,\nSikwane"
1393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Gaborone West:,Sejelo District:,NaN,NaN
1394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"Gaborone West,\nNaledi, Ramotswa,\nSir Seretse...","Kanye, Sejelo, Jwaneng,\nMoshupa, Phitshane\nM...",NaN,NaN